@use 'Core.scss';
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
    @media (min-width: 768px) {
        padding: 20px;
        padding-left: 40px;
        height: 100px;        
    }
    &__logo{
        width: 122px;
        @media (min-width: 768px) {
            width: 278px;
            height: 48px;            
        }
    }
    &__hamburger{
        position: absolute;
        right: 0;
        padding: 15px;
        z-index: 20;
        cursor: pointer;
        @media (min-width: 768px) {
            display: none;
        }
    }
    &__list{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 15px;
        background-color: Core.$color-background;


        @media (max-width:767px) {
            position: absolute;
            margin-top: 25px;
            border-radius: 10px;
            right: 0;
            width: 150px;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            z-index: 20;
            transition: transform 300ms ease-in-out;
            padding: 15px;
        }
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            gap: 32px;
            padding-right: 124px;
            justify-content: space-around;
            align-items: center;
        }
    }
    &__blur{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(4px);
        z-index: 10;
        transition: opacity 300ms;
        opacity: 0;
        pointer-events: none;
        &.visible {
            opacity: 1; 
            pointer-events: auto; 
        }
        @media (min-width: 768px) {
            display: none;
        }
    }
}

.hidden {
    @media (max-width: 767px) {
        display: none;        
    }
}